<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>DATA PRIBADI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nama: Bintang<br/>
      NRP: c14180028<br/>
      Email: c14180028@john.petra.ac.id<br/>
      No. HP: 08113462020<br/>
    </ion-card-content>
  </ion-card>
</ion-content>
